.w-45 {
  width: 45%;
}

.bt-none {
  border-top: 0;
}
.bb-none {
  border-bottom: 0;
}
.minh-100vh {
  min-height: 100vh;
}

.transition-opacity-06s {
  transition: opacity 0.6s;
}
.transition-max-height-06s {
  transition: max-height 0.6s;
}

.heavier-blue {
  color: #0070d1;
}

.max-h-0 {
  max-height: 0;
}
.max-h-999 {
  max-height: 999px;
}
.max-w-30 {
  max-width: 30%;
}
.max-w-70 {
  max-width: 70%;
}

.h4-plus {
  height: 13rem;
}

.w-29px {
  width: 29px;
}
.h-22px {
  height: 22px;
}
.nt-1px {
  margin-top: -1px;
}

.h-15px {
  height: 15px;
}
.w-15px {
  width: 15px;
}

.hh0 {
  height: 0;
}
.hh1 {
  height: 1rem;
}
.hh2 {
  height: 2rem;
}
.hh3 {
  height: 4rem;
}
.hh4 {
  height: 8rem;
}
.hh5 {
  height: 16rem;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

@media screen and (min-width: 80em) {
  .bg-orange-ns {
    background-color: #ff6300;
  }
  .white-ns {
    color: #ffffff;
  }
}

:root {
  font-size: 16px;
}

.right--060 {
  right: 0.6rem;
}

.top--040 {
  top: 0.4rem;
}

.option[type='radio']:checked:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  top: 6px;
  left: 5px;
  background: #555555;
  border-radius: 50%;
}

.modal-content-container {
  position: fixed;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  width: 25%;
  max-width: 100%;
  z-index: 9990;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  margin: 0 auto;
}

.vtex-bootstrap .font-12 {
  font-size: 12px;
  line-height: 15px;
}
.vtex-bootstrap .box-shadow-blue {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(82, 168, 236, 0.6);
}
.vtex-bootstrap .dont-show-text {
  text-indent: -999em;
}
.vtex-bootstrap .hide {
  display: none;
}

.vtex-bootstrap body {
  overflow-y: scroll;
}
.vtex-bootstrap p {
  margin: 0 0 7px;
}
.vtex-bootstrap label {
  margin-bottom: 0;
}

.vtex-bootstrap .btn-small {
  font-size: 12px;
}
.vtex-bootstrap .btn-mini {
  font-size: 11px;
}
.vtex-bootstrap .btn-large {
  font-size: 16px;
}
.vtex-bootstrap .table td {
  border: 0;
}
.vtex-bootstrap .notification {
  color: #999999;
  margin-bottom: 0;
}
.vtex-bootstrap .collapse {
  overflow: visible;
}
.vtex-bootstrap h1 {
  color: #666666;
  font-size: 36px;
  font-weight: normal;
  margin: 20px 0;
}
.vtex-bootstrap h3 {
  font-size: 13px;
  line-height: 1em;
  margin-top: 15px;
}
.body-cart .vtex-bootstrap h4,
.body-order-form .vtex-bootstrap h4 {
  color: #666666;
  font-weight: normal;
  font-size: 13px;
  margin-top: 10px;
}
.vtex-bootstrap h5 {
  font-size: 13px;
}
.vtex-bootstrap #locale-selector-template-holder {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 12px;
  line-height: 15px;
}
.vtex-bootstrap #locale-selector-template-holder .select2-container {
  min-width: 200px;
}
.vtex-bootstrap .loading-inline {
  margin: 7px 0 0 -25px;
  position: absolute;
  z-index: 8;
}
.vtex-bootstrap .loading-inline span {
  display: none;
}
.vtex-bootstrap .loading-text {
  margin-right: 5px;
  vertical-align: text-top;
}
.vtex-bootstrap .loading-text span {
  display: none;
}
.vtex-bootstrap .vtex-loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.vtex-bootstrap .loading-bg {
  opacity: 0.8;
  background-color: #fff;
  z-index: 200;
  text-align: center;
}
.vtex-bootstrap .loading-img {
  position: relative;
  top: 20%;
}
.loading .vtex-bootstrap .loading-img {
  height: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  z-index: 201;
}
.vtex-bootstrap .loading-img span {
  display: none;
}
.vtex-bootstrap .loading-email {
  display: inline-block;
}
.vtex-bootstrap .loading-item {
  display: none;
}
.vtex-bootstrap .icon-spinner.icon-3x {
  opacity: 0.5;
}
.vtex-bootstrap form,
.vtex-bootstrap .table {
  margin-bottom: 0;
}
.vtex-bootstrap .body-order-placed {
  padding-bottom: 30px;
}

.vtex-bootstrap .row-fluid .full-cart.inactive {
  margin-left: -100%;
}
.vtex-bootstrap .row-fluid .orderform-template.inactive {
  margin-left: 100%;
}
.vtex-bootstrap .row-fluid .full-cart,
.vtex-bootstrap .row-fluid .orderform-template {
  margin-bottom: 15px;
  min-height: 200px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.vtex-bootstrap .row-fluid .full-cart.active,
.vtex-bootstrap .row-fluid .orderform-template.active {
  margin-left: 0;
  opacity: 1;
  position: relative;
}
.vtex-bootstrap .orderform-template-holder {
  margin-left: 0;
  min-height: 650px;
}
.vtex-bootstrap .checkout-container {
  min-height: 200px;
  position: relative;
  overflow: hidden;
}
.vtex-bootstrap .cart-active .full-cart {
  margin-left: 0;
  position: relative;
}
.vtex-bootstrap .orderform-active .orderform-template {
  margin-left: 0;
  position: relative;
}
.vtex-bootstrap .accordion-group,
.vtex-bootstrap .accordion-inner {
  border: 0;
}
.vtex-bootstrap .accordion-toggle {
  position: relative;
}
.vtex-bootstrap .accordion-inner {
  padding: 9px;
}
.vtex-bootstrap .accordion-heading .accordion-toggle {
  padding: 4px 8px 0;
}
.vtex-bootstrap .accordion-toggle {
  color: #999999;
  cursor: inherit;
  font-size: 16px;
  padding-bottom: 0;
  padding-top: 4px;
}
.vtex-bootstrap .accordion-toggle span {
  line-height: 18px;
}
.vtex-bootstrap .accordion-toggle .link-box-edit {
  position: absolute;
  right: -8px;
  top: -8px;
  padding: 4px 6px 2px;
  border-radius: 0 6px;
  background: #eee;
  border-color: #eee;
  color: #08c;
  font-size: 14px;
  opacity: 0.7;
}
.vtex-bootstrap .accordion-toggle .link-box-edit:hover {
  opacity: 1;
}
.vtex-bootstrap .accordion-toggle-active {
  color: #333333;
  font-size: 24px;
  line-height: 30px;
  padding-top: 8px;
}
.vtex-bootstrap .step,
.vtex-bootstrap .cart,
.vtex-bootstrap .totalizers {
  border: 3px solid #f4f4f4;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.vtex-bootstrap .step.active,
.vtex-bootstrap .cart.active,
.vtex-bootstrap .totalizers.active {
  border-color: #e5e5e5;
}
.vtex-bootstrap .box-info {
  color: #999999;
  font-size: 12px;
  line-height: 15px;
}
.vtex-bootstrap .box-info li {
  font-size: 12px;
  line-height: 15px;
}
.vtex-bootstrap .box-info > p:last-child,
.vtex-bootstrap .box-info .shipping-options.just-one p {
  margin: 0;
}
.vtex-bootstrap .masked-info {
  font-size: 0;
  width: 0;
}
.vtex-bootstrap .masked-info:after {
  content: 'x';
  color: #dfdfdf;
  display: inline-block;
  font-size: 13px;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.vtex-bootstrap .icon-ok-circle,
.vtex-bootstrap .icon-circle-blank {
  display: block;
  font-size: 20px;
  -webkit-text-stroke: 0.1px;
  position: absolute;
  right: 10px;
  top: 4px;
}
.vtex-bootstrap .label-vertical-group:hover .icon-circle-blank,
.vtex-bootstrap .icon-ok-circle {
  color: #46a546;
}
.vtex-bootstrap .icon-circle-blank {
  color: #999999;
}
.vtex-bootstrap .badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: bold;
  line-height: 11px;
  color: #468847;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #dff0d8;
  border-radius: 9px;
  cursor: default;
}
.vtex-bootstrap .icon-spin {
  -moz-animation: spin 0.7s infinite linear;
  -o-animation: spin 0.7s infinite linear;
  -webkit-animation: spin 0.7s infinite linear;
  animation: spin 0.7s infinite linear;
}

.vtex-bootstrap .subscriptions-page * {
  box-sizing: border-box;
}
.vtex-bootstrap .subscriptions-page .subscription-container {
  padding: 0;
  margin: 0;
}
.vtex-bootstrap .subscriptions-page h1.subscription-title {
  font-size: 18px;
  padding: 0;
  margin: 15px 0 0;
}
.vtex-bootstrap .subscriptions-page h1.empty-items {
  font-size: 21px;
}
.vtex-bootstrap .subscriptions-page .subscription-info-container {
  width: 100%;
}
.vtex-bootstrap .subscriptions-page .customer-area {
  padding: 10px;
  word-break: break-all;
}
.vtex-bootstrap .subscriptions-page .customer-name {
  font-size: 16px;
  font-weight: bold;
}
.vtex-bootstrap .subscriptions-page .customer-actions a {
  padding: 5px 5px 5px 10px;
  text-decoration: none;
}
.vtex-bootstrap .subscriptions-page .payment-card {
  padding: 10px;
  border: 1px solid #eee;
}
.vtex-bootstrap .subscriptions-page .payment-card .payment-action a {
  padding: 5px 5px 5px 10px;
  text-decoration: none;
}
.vtex-bootstrap .subscriptions-page .subscription-items-container {
  width: 100%;
  margin-top: 20px;
}
.vtex-bootstrap .subscriptions-page .item-card {
  clear: both;
  height: 120px;
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  margin-top: 5px;
}
.vtex-bootstrap .subscriptions-page .item-card .item-img {
  margin-top: 18px;
}
.vtex-bootstrap .subscriptions-page .item-card .item-name-container {
  height: 100%;
}
.vtex-bootstrap .subscriptions-page .item-card .item-name {
  font-size: 14px;
  font-weight: 550;
  margin-top: 18px;
}
.vtex-bootstrap .subscriptions-page .item-card .item-actions a {
  padding: 5px 5px 5px 10px;
  text-decoration: none;
}
.vtex-bootstrap .subscriptions-page .shipping-data {
  font-size: 12px;
}
.vtex-bootstrap .subscriptions-page .card-label {
  color: #999;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.vtex-bootstrap .subscriptions-page #subscriptionEditItemForm label {
  margin-bottom: 5px;
}
.vtex-bootstrap .subscriptions-page #subscriptionEditItemForm label:last-child {
  margin-bottom: 0;
}
.vtex-bootstrap .subscriptions-page #subscriptionEditItemForm input {
  height: 28px;
}
.vtex-bootstrap .subscriptions-page #subscription-lightbox-backdrop {
  display: none;
}
.vtex-bootstrap .subscriptions-page .subscription-lightbox {
  top: 15% !important;
  right: auto !important;
  bottom: auto !important;
  left: 50% !important;
  margin: 0 !important;
  margin-left: -175px !important;
  width: 350px !important;
}
.dropdown-menu {
  display: block;
  right: 0;
  left: auto;
}

@keyframes shimmer-anim {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0);
  }
}

.shimmer {
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
  background-size: 50% 100%;
  animation: shimmer-anim 0.7s linear infinite;
}

.myo-progress-bar .myo-progress-bar__mobile-text {
  display: none;
}

.myo-progress-bar .myo-progress-bar__subtitle {
  min-width: 5rem;
}

.myo-progress-bar .myo-progress-bar__ma-inner-circle {
  margin: 0.1rem;
}

.myo-progress-bar .myo-progress-bar__ma-inner-circle::before {
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: -4px;
  top: -4px;
  border-radius: 50%;
  z-index: -1;
  background: currentColor;
}

.myo-progress-bar .myo-progress-bar__height1 {
  height: 1rem;
}

.myo-progress-bar .myo-progress-bar__title-font {
  display: block;
  font-size: 13px;
  margin: 1.15em 0 1em;
  font-weight: bold;
}

.myo-progress-bar .myo-package-progress-bar__ma-inner-circle {
  margin: 0.15rem;
  width: 0.75rem;
  height: 0.75rem;
}

.myo-progress-bar .myo-package-progress-bar__ma-inner-circle::before {
  content: '';
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -4px;
  top: -4px;
  border-radius: 50%;
  z-index: -1;
  background: currentColor;
}

.myo-progress-bar .myo-package-progress-bar__circle.w1 {
  width: 0.75rem;
  height: 0.75rem;
}

.myo-progress-bar .myo-package-progress-bar__line {
  border-width: 1px;
}

.myo-progress-bar .myo-package-progress-bar__circle.mv3 {
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}

.status-color-blue {
  background-color: #96ccff;
}

.status-color-yellow {
  background-color: #fbf1a9;
}

.status-color-red {
  background-color: #ff725c;
}

.status-color-green {
  background-color: #19a974;
}

.myo-progress-bar .myo-package-progress-bar__text {
  display: none;
}

.myo-progress-bar .myo-package-progress-bar__margin {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.myo-package-progress-bar__line-height {
  line-height: 1.25rem;
}

.myo-font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.myo__menu-background-color {
  background-color: #08c;
}

.myo__menu--color {
  color: #08c;
}

.address-form .address-summary {
  padding-top: 1rem;
}

.vtex-input .f6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.vtex-dropdown .f6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@supports (width: fit-content) {
  .myo-progress-bar .myo-package-progress-bar__maxWidth {
    width: fit-content;
    max-width: 300px;
  }
}

.myo-progress-bar .myo-package-progress-bar__maxWidth {
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.myo-subscription__history
  .history-package-progress
  .myo-progress-bar
  .myo-progress-bar__subtitle {
  min-width: 15rem;
}

.invert-arrow .arrow-down {
  display: -webkit-flex;
}

.invert-arrow .arrow-up {
  display: none;
}

.myo-subscription__history .accordion__item .title {
  border-bottom-style: solid;
  border-bottom-width: 0.125rem;
  border-right-style: solid;
  border-right-width: 0.125rem;
  border-left-style: solid;
  border-left-width: 0.125rem;
}

.myo-subscription__history .accordion__item:last-of-type .title {
  border-right-style: solid;
  border-right-width: 0.125rem;
  border-left-style: solid;
  border-left-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-width: 0.125rem;
}

.myo-subscription__history .accordion__item .accordion__body {
  border-right-style: solid;
  border-right-width: 0.125rem;
  border-left-style: solid;
  border-left-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-width: 0.125rem;
}

.arrow-down {
  display: none;
}

.myo-subscription__history .caption {
  display: none;
}

.myo-progress-bar .caption {
  display: none;
}

@media print {
  /* .container {
    width: 940px;
  } */
  body {
    visibility: hidden !important;
  }

  .hide-on-print {
    display: none !important;
  }

  /* Show elements with .show-on-print */
  .show-on-print,
  .show-on-print-container {
    visibility: visible !important;
  }

  div.show-on-print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 70%;
  }

  .myo-margin-right {
    margin-right: 24px;
  }
}

@media (min-width: 979px) and (max-width: 1200px) {
  .myo-margin-right {
    margin-right: 24px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 724px;
  }

  .myo-subscription__history .caption {
    display: block;
  }

  .myo-progress-bar .myo-progress-bar__text {
    display: none;
  }
  .myo-progress-bar .myo-progress-bar__mobile-text {
    display: block;
    padding-left: 0.4rem;
  }

  .myo-margin-right {
    margin-right: 24px;
  }

  .myo-progress-bar .myo-package-progress-bar__margin:first-of-type {
    margin-left: 0;
    margin-right: 0.25rem;
  }

  .myo-progress-bar .myo-package-progress-bar__margin:last-of-type {
    margin-left: 0.25rem;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .myo-progress-bar .myo-package-progress-bar__margin:first-of-type {
    margin-left: 0;
    margin-right: 0.25rem;
  }

  .myo-progress-bar .myo-package-progress-bar__margin:last-of-type {
    margin-left: 0.25rem;
    margin-right: 0;
  }

  .myo-progress-bar .myo-progress-bar__text {
    display: none;
  }
  .container {
    width: 90%;
  }
  .myo-progress-bar .myo-progress-bar__ma-inner-circle {
    margin: 0.15rem;
    width: 0.75rem;
    height: 0.75rem;
  }

  .myo-subscription__history .caption {
    display: block;
  }

  .myo-progress-bar .myo-progress-bar__ma-inner-circle::before {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: -4px;
    top: -4px;
    border-radius: 50%;
    z-index: -1;
    background: currentColor;
  }

  .myo-progress-bar .myo-progress-bar__circle.w1 {
    width: 0.75rem;
    height: 0.75rem;
  }

  .myo-progress-bar .myo-progress-bar__line {
    border-width: 1px;
  }

  .myo-progress-bar .myo-progress-bar__circle.mv3 {
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
  }

  .myo-progress-bar .myo-progress-bar__mobile-text {
    display: block;
    padding-left: 0.4rem;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .subscription__listing-card {
    min-height: 23rem;
  }

  .myo-subscription__history .caption {
    display: block;
  }

  .background-height {
    height: 200vh;
  }

  .vtex-modal__modal {
    padding: 1.5rem !important;
  }

  .vtex-address-form__postalCode .pt6 {
    padding-top: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .subscription__listing-card {
    min-height: 12rem;
  }

  .myo-subscription__history .myo-progress-bar .w3-ns {
    width: 9rem;
  }

  .subscription__product-listing__card {
    height: auto;
    min-height: 6rem;
    padding: 0;
  }

  .background-height {
    height: 150vh;
  }

  .myo-subscription__image-size {
    height: 13.5rem;
    width: 13.5rem;
  }

  .product-vertical-line {
    width: 12rem;
  }
}

@media (min-width: 1024px) {
  .subscription__listing-card {
    min-height: 12rem;
  }

  .myo-subscription__history .myo-progress-bar .w3-ns {
    width: 14rem;
  }

  .subscription__product-listing__card {
    height: auto;
    min-height: 6rem;
  }

  .myo-subscription__history .myo-progress-bar .myo-package-progress-bar__text {
    display: block;
  }

  .background-height {
    height: 170vh;
  }

  .card-height {
    min-height: 18rem;
  }

  .product-vertical-line {
    height: 9rem;
    width: 14.2rem;
  }

  .product-vertical-line {
    width: 12rem;
  }

  .myo-subscription__image-size {
    height: 13.5rem;
    width: 13.5rem;
  }
}

@media (min-width: 1300px) {
  .myo-subscription__history .myo-progress-bar .w3-ns {
    width: 22rem;
  }
}

/* Add tweak point inside m */
@media (min-width: 57em) {
  .dn-m-2 {
    display: none;
  }

  .pv0-m-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pl0-m-2 {
    padding-left: 0;
  }
}
